<a class="collection-card" [routerLink]="['/work', collection.slug]">
  <div class="card-image" [style.background-color]="collection.coverPlaceholder.bgColor">
    @if (collection.coverImage) {
      <img [src]="collection.coverImage" [alt]="collection.title" class="cover-img">
    } @else {
      <span class="card-placeholder-label">{{ collection.coverPlaceholder.label }}</span>
    }
  </div>
  <div class="card-info">
    <h3 class="card-title">{{ collection.title }}</h3>
    <p class="card-description">{{ collection.description }}</p>
    <span class="card-count">{{ collection.photoCount }} photographs</span>
  </div>
</a>
