<div class="photo-grid" [class.masonry]="variant === 'masonry'">
  @for (item of items; track trackItem(item); let i = $index) {
    @if (item.kind === 'photo') {
      <div class="grid-item"
           [class]="'ratio-' + item.photo.aspectRatio"
           [style.animation-delay]="(i * 60) + 'ms'">
        <app-photo-card
          [photo]="item.photo"
          (photoClick)="onPhotoClick($event)">
        </app-photo-card>
      </div>
    } @else {
      <div class="grid-item ratio-landscape"
           [style.animation-delay]="(i * 60) + 'ms'">
        <app-photo-group-card
          [group]="item.group"
          [photos]="item.photos"
          (groupClick)="groupClick.emit(item.photos)">
        </app-photo-group-card>
      </div>
    }
  }
</div>
